
<div _ngcontent-dspace-angular-c421="" class="d-flex justify-content-between">
  <div _ngcontent-dspace-angular-c421="" class="print-mail-area d-flex flex-row" >
    <a
      _ngcontent-dspace-angular-c421=""
      target="_blank"
      class="btn btn-outline-secondary btn-mail"
      href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su={{title}}&body='{{itemPageRoute}}+'&ui=2&tf=1&pli=1"
      ><i
        _ngcontent-dspace-angular-c421=""
        class="fa fa-envelope fa-black"
      ></i></a
    ><button
      _ngcontent-dspace-angular-c421=""
      class="btn btn-outline-secondary ml-1 btn-print"
      (click)="printPage()"
    >
      <i _ngcontent-dspace-angular-c421="" class="fa fa-print fa-black"></i>
    </button>
  </div>
  <div _ngcontent-dspace-angular-c421="" class="d-flex flex-row social-icons">
    <a
       
      _ngcontent-dspace-angular-c421=""
      target="_blank"
      class="btn social-btn btn-x-twitter d-flex align-items-center justify-content-center"
      href="https://twitter.com/share?&hashtags=css,html&url={{itemPageRoute}}&text={{title}}"
      ><i _ngcontent-dspace-angular-c421="" class="fab fa-x-twitter"></i
      >
      <!-- <span
      style="font-weight: 400;font-size: smaller;"
        _ngcontent-dspace-angular-c421=""
        class="social-btn-text d-none d-lg-inline-block"
        >{{'social-share.btn' | translate }}</span
      > -->
      </a
    ><a
    
      _ngcontent-dspace-angular-c421=""
      target="_blank"
      class="btn social-btn btn-facebook d-flex "
      href="https://www.facebook.com/sharer.php?u={{itemPageRoute}}"
      ><i _ngcontent-dspace-angular-c421="" class="fab fa-facebook-f"></i
      >
      <!-- <span
      style="font-weight: 400;font-size: smaller;"
        _ngcontent-dspace-angular-c421=""
        class="social-btn-text d-none d-lg-inline-block"
        >{{'social-share.btn' | translate }}</span
      > -->
      </a
    >
    <a
    
      _ngcontent-dspace-angular-c421=""
      target="_blank"
      class="btn social-btn btn-whatsapp d-flex"
      href="https://wa.me/?text={{title}} {{itemPageRoute}}"
      ><i _ngcontent-dspace-angular-c421="" class="fab fa-whatsapp"></i
      >
      <!-- <span
      style="font-weight: 400;font-size: smaller;"
        _ngcontent-dspace-angular-c421=""
        class="social-btn-text d-none d-lg-inline-block"
        >{{'social-share.btn' | translate }}</span
      > -->
      </a
    >
    <a
    
      _ngcontent-dspace-angular-c421=""
      target="_blank"
      class="btn social-btn btn-linkedin d-flex "
      href="https://www.linkedin.com/shareArticle?url={{itemPageRoute}}&title={{title}}"
      ><i _ngcontent-dspace-angular-c421="" class="fab fa-linkedin-in"></i
      >
      <!-- <span
      style="font-weight: 400;font-size: smaller;"
        _ngcontent-dspace-angular-c421=""
        class="social-btn-text d-none d-lg-inline-block"
        >{{'social-share.btn' | translate }}</span
      > -->
      </a
    >
  </div>
</div>
