<ds-metadata-field-wrapper [label]="label | translate">
  @for (mdValue of mdValues; track mdValue; let last = $last) {
    <a class="dont-break-out" [href]="mdValue.value.includes('https://') === false && label === 'item.page.doi' ? ('https://doi.org/'+mdValue.value) : (mdValue.value.includes('https://') === false && label === 'item.page.openalex' ? ('https://openalex.org/'+mdValue.value) : mdValue.value)" [target]="hasInternalLink(mdValue.value) ? '_self' : '_blank'" role="link" tabindex="0">
      {{ linktext || mdValue.value }}@if (!last) {
      <span [innerHTML]="separator"></span>
    }
    @if (mdValue.value && label === 'item.page.openalex') {
         <img _ngcontent-dspace-angular-c659="" placement="top" alt="orcid-logo" src="/assets/images/proxy-image.png" class="orcid-icon ng-star-inserted">

    }
  </a>
}
</ds-metadata-field-wrapper>
