<h2>{{ 'info.end-user-agreement.head' | translate }}</h2>



<div *ngIf="currentLocale ; else elseBlock">


  <div >

    <h6>END USER AGREEMENT</h6>
  

 
  <br>

    <h5>Introduction: </h5>
   <p>The Institutional Digital Repository of Imam Mohammad Ibn Saud Islamic University is an electronic platform that aims to collect, organize, and distribute academic and research materials produced at the university. It is considered one of the University's key knowledge management tools, providing open access to diverse digital resources.</p>
   <p>Imam Mohammad Ibn Saud Islamic University's institutional digital repository includes a wide range of academic items, including theses, researches, articles, books, lectures, events, photos, and other items. These items are available to students, researchers, faculty, and the public for research and teaching purposes, contributing to the enhancement of the educational process, research, and knowledge. </p>
   <p>Imam Mohammad Ibn Saud Islamic University's Institutional Digital Repository organizes digital resources in a systematic and accessible manner, enabling an efficient cataloguing system for searching and browsing. Digital items are stored and preserved securely and reliably, maintaining the quality and integrity of scientific content.</p>
   <p>The terms and conditions of using the Imam Mohammad Ibn Saud Islamic University Institutional Digital Repository website emanate from the terms and conditions contained in the university's portal policy. </p>

  </div>

  <div>
    <br>
    <h5>Terms & Conditions</h5>
   <p>The information on the Imam Mohammad Ibn Saud Islamic University Institutional Digital Repository website is provided by Imam Mohammad Ibn Saud Islamic University and is for educational and research purposes only. While we have made every effort to ensure that the information contained therein is correct and accurate, we do not give an express or implied warranty for this, so your reliance on the information available therein is your full responsibility. Also, your use of the website of the institutional digital repository of Imam Mohammad Ibn Saud Islamic University means your agreement to the terms and conditions that govern it, and if you do not agree to these terms and conditions, you must not use any of its services.</p>
  </div>



  <div>
    <br>
    <h5>Restrictions on use</h5>
    <p>Your use of the Imam Mohammad Ibn Saud Islamic University Institutional Digital Repository website is an implicit acknowledgment of commitment to the following points:</p>
    <ol>
      <li>Publication through the site is to serve the academic and scientific purposes of the university only.</li>
      <li>Not to publish anything that contradicts the philosophy of Imam Mohammad Ibn Saud Islamic University in dialogue and expression of opinion.</li>
      <li>Not to subject persons, entities, or institutions to appeal, detract, insult or defamation.</li>
      <li>Not to publish or quote any content (software, materials, data, or other information) that is protected by copyright or for which you do not have a license without approval from the source.</li>
      <li>Refrain from any praise, promotion, correction, or support for every deviant thought and its symbols.</li>
      <li>Refrain from publishing, advertising, distributing, circulating, or sharing any content, information or links that violate Sharia, or are intended to harm national security or contain a violation of regulations of any kind, pornographic or obscene materials, or contrary to public morals, or any illegal materials or information.</li>
      <li>Refrain from publishing all kinds of content and comments that fuel sectarianism, racism, tribalism, and regionalism in all its forms and forms.</li>
      <li>Commitment to publishing in classical Arabic, and avoid shallowness, weakness, spelling and grammatical errors as much as possible, while making sure that the Qur'anic verses are written correctly with the verse number and the name of the surah.</li>
      <li>The site administration is not obliged to publish any topic or to adhere to a specific time limit for publication or republication.</li>
      <li>The views expressed in the published topics represent the views of their authors and do not necessarily express the views of the University.</li>
      <li>No names or logos present on the Site may be used without prior permission.</li>
      <li>You may not transfer or copy any of the contents of the site without prior permission.</li>
      <li>Refrain from participating through the Site and its services in illegal or irregular activities in the Kingdom of Saudi Arabia.</li>
      <li>Refrain from using any means, software, or procedure to intercept or attempt to interfere with the proper operation of the Site.</li>
      <li>Refrain from taking any action that imposes a significant load on the infrastructure of the site.</li>
    </ol>
  </div>



  <div>
    <br>
    <h5>Links to and from the website of the institutional digital repository of Imam Mohammad Ibn Saud Islamic University</h5>

    <ol>
      <li>It is forbidden to place any electronic links to the website of the institutional digital repository of Imam Mohammad Ibn Saud Islamic University within any other site and in any framework in violation of the terms and conditions.</li>
      <li>The University is not responsible - in any way - for the content, trademarks, logos, or symbols in all their forms, or any other means used or appearing on sites linked to this site or any of its contents.</li>
      <li>The University reserves all its rights to stop and obstruct any link from any site that contains anything that violates the University's policies, violates a law, or violates intellectual property rights, privacy rights or public rights.</li>
      <li>The Digital Repository of Imam Mohammad Ibn Saud Islamic University is not responsible for the contents available on any other site accessed through this site, or from this site.</li>

    </ol>
  </div>

  <div>
    <br>
    <h5>Property Rights</h5>

    <ol>
  <li>The website of the digital repository of  Imam Mohammad Ibn Saud Islamic University is managed by  the General Administration of Library Affairs directly, including all the information and materials contained therein, and all the contents  of the site  are fully protected in accordance with the intellectual property policy document at Imam Mohammad Ibn Saud University approved by the Higher Education Council and Universities Resolution No. 37 - 6 - 1443 This is based on paragraph (11) of Article (20) of the Higher Education and Universities Council Law.</li>
  <li>All intellectual property rights in the contents of the website of the institutional digital repository of Imam Mohammad Ibn Saud Islamic University are the property of Imam Mohammad Ibn Saud Islamic University except as otherwise stated. </li>
  <li>It is not permissible to sell, license, rent, modify, copy, reproduce, reprint, upload, advertise, transmit, distribute, publicly display, edit or create derivative works from any materials or contents from the website of the institutional digital repository of Imam Mohammad Ibn Saud Islamic  University to the public or for commercial purposes, without the prior written consent of the University.</li>
  <li>It is strictly forbidden to modify the contents of the website of the institutional digital repository of Imam Mohammad Ibn Saud Islamic University without obtaining permission, and responsibility for such modification is assumed.</li>
  <li>It is not permissible to reproduce or exploit the graphics and images published on this site in any way, without the prior written consent of the site administration. </li>
    </ol>
  </div>

  <div>
    <br>
    <h5>Limitation of Liability</h5>
    <li>Use the website of the institutional digital repository of Imam Mohammad Ibn Saud Islamic University is at your own risk, and the university and its management do not bear in any way any damage or losses resulting from the use of the site or dealing with it directly or indirectly.  </li>
    <li>The site administration is keen  to  examine and test its contents at all stages of production, however, the protection of your device and data is your full responsibility and we are not responsible for any loss, interruption or damage to your data, computer or any device used for browsing with you, which may occur while connecting to this site or when using any content from it.</li>
    <li>The University makes no warranty, express or implied, that there will be no defects in the materials contained on the site or that such materials will be provided without interruption or errors.</li>
  </div>

  <div>
    <br>
    <h5>Termination of Use</h5>
   <p>Imam Mohammad Ibn Saud Islamic University reserves all rights to prevent or restrict anyone's access to the Imam Mohammad Ibn Saud Islamic University Institutional Digital Repository website without notice and for any reason, including violation of the terms and conditions of use or any other behavior that we may consider, in our sole discretion, contrary to university policies or harmful to others. </p>
  </div>

  <div>
    <br>
    <h5>Privacy Policy</h5>
   <p>This policy provides clarification of the rights and duties of the institutional digital repository website of Imam Mohammad Ibn Saud Islamic University and its users, and accordingly Imam Mohammad Ibn Saud Islamic University is committed to protecting your personality and ensuring your privacy, and our policy shows our practice in dealing with your personal information with regard to data, whether on the Internet or on computers only, and if you give us any personal information, we will deal with it in accordance with this policy</p>
  </div>

  <div>
    <br>
    <h5>Collection and Use of Electronic Information</h5>
   <p>The type and amount of information received by Imam Mohammad Ibn Saud Islamic University depends on how the user uses the institutional digital repository of Imam Mohammad Ibn Saud Islamic University, and the user can access most of the pages of the site without disclosing his identity and without revealing any personal information, and Imam Mohammad Ibn Saud Islamic University does not collect through the institutional digital repository site of Imam Mohammad Ibn Saud Islamic University  Any personally identifiable information (name, address, phone number or e-mail address), unless the user decides to provide one of these information - for example - when requesting a service or the like, and if he requests such personal information, we will clarify its purpose when we request it.  </p>
   <p>The personal data provided by  the user through the website of the institutional digital repository  of Imam Mohammad Ibn Saud Islamic University will remain confidential, and its storage is limited to the period necessary for the purpose for which it was submitted only, and the information provided by the user to third parties will not be provided without the permission of the user.</p>
  </div>

  <div>
    <br>
    <h5>Information Security </h5>
   <p>We ensure that this site applies the highest security measures to protect the information you provide to it, and that the site encrypts information that is considered sensitive or data that must be kept confidential in accordance with legal requirements.</p>
  </div>

  <div>
    <br>
    <h5>Cookies</h5>
   <p>The site may store cookies  on your computer when you visit the site, and  these files are used for several technical purposes only, such as identifying you when you visit the site again, and following your current course on the site and moving between its pages, and it is not our goal to use them for any other purposes unless there is a legal and official request to do so.</p>
   <p>You can at any time reset your browser to refuse all cookies or ask you before accepting any cookie; however, you may lose some features of the site or its services.</p>
  </div>

  <div>
    <br>
    <h5>Other Locations</h5>
    <p>The website of the institutional digital repository of Imam Mohammad Ibn Saud Islamic University contains many links that can take you to other sites that are not affiliated with the university and are not within the domain (imamu.edu.sa), and these sites do not work in accordance with the privacy policy followed in the website of Imam Mohammad Ibn Saud Islamic University, so we advise the esteemed visitor to review the privacy policy of those sites before revealing any personal information indicating their owner.</p>

  </div>

  <div>
    <br>
    <h5>Changes to the Privacy Policy</h5>
   <p>The University reserves the right to update the privacy policy at any time and without prior notice, and to know the latest update made on it, the user must review the update date at the bottom of this page.</p>
  </div>

  <div>
    <br>
    <h5>Consent to the Privacy Policy</h5>
    <p>Your use of the institutional digital repository website of Imam Mohammad Ibn Saud Islamic University means your agreement to the privacy policy, and the controls and conditions that govern it, and if you do not agree to this policy, you must not use any of the services provided through this site.</p>
  </div>

  






</div>







<ng-template #elseBlock>







  <!-- <h6>اتفاقية المستخدم النهائية</h6>
    <p>آخر تحديث في  يناير01، 2022</p> -->
    <br>

    <div >

    <div>
      <br>
      <h5>مقدمة: </h5>
<p>المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية هو منصة إلكترونية تهدف إلى جمع وتنظيم ونشر المواد الأكاديمية والبحثية المنتجة في الجامعة. ويعتبر واحدًا من الأدوات الرئيسية لإدارة المعرفة في الجامعة، حيث يوفر وصولًا مفتوحًا إلى الموارد الرقمية المتنوعة.</p>
<p>يتضمن المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية مجموعة واسعة من المواد الأكاديمية، بما في ذلك الرسائل الجامعية والأبحاث والمقالات والكتب والمحاضرات والفعاليات والصور وغيرها من المواد الأخرى. وتتوفر هذه المواد للطلاب والباحثين وأعضاء هيئة التدريس والجمهور العام لأغراض البحث العلمي والتعليم، مما يسهم في تعزيز العملية التعليمية والبحثية والمعرفة.</p>
<p>يعمل المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية على تنظيم الموارد الرقمية بطريقة منهجية وسهلة الوصول، حيث يتيح نظام الفهرسة الفعالة للبحث والتصفح. ويتم تخزين وحفظ المواد الرقمية بشكل آمن وموثوق به، مما يحافظ على جودة وتكامل المحتوى العلمي.</p>
<p>تنبثق شروط وأحكام استخدام موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية من الشروط والأحكام الواردة في سياسة بوابة الجامعة الإلكترونية. </p> 
    </div>

    <div>
      <br>
      <h5>الشروط والأحكام</h5>
<p>المعلومات الموجودة في موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية مقدمة من قبل جامعة الإمام محمد بن سعود الإسلامية، وهي للأغراض التعليمية والبحثية فقط. وحيث بذلنا قصارى جهدنا للتأكد من صحة المعلومات الموجودة فيه ودقتها، إلا أننا لا نعطي ضمانا صريحا لذلك ولا ضمنيا، لذا فإن اعتمادك على المعلومات المتاحة فيه هو تحت مسؤوليتك الكاملة. كما أن استخدامك لموقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية يعني موافقتك على الضوابط والشروط التي تحكمه، فإذا لم تكن موافقاً على هذه الشروط والضوابط يجب عليك عدم استخدام أي خدمة من خدماته.</p>

    </div>



    <div>
      <br>
      <h5>شروط الاستخدام</h5>
      <p>موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية متاح للاستخدام الشخصي، ويخضع كل مستخدم لبنود وشروط الاستخدام، ولأنظمة المملكة العربية السعودية، ويعد وصولك ودخولك للموقع واستخدامك للمعلومات المتاحة فيه موافقة على بنود وشروط الاستخدام دون قيد أو شرط.</p>
      <p>تخضع هذه البنود والشروط لتحديثات وتغييرات مستمرة حسب الحاجة، ويصبح أي تعديل أو تحديث لأي من هذه البنود والشروط نافذًا فور اعتماده ونشره؛ مما يعني ضرورة المراجعة المستمرة لشروط الاستخدام لمعرفة التحديثات التي تتم عليها، إذ إن استمرارك في استخدام موقع المستودع الرقمي المؤسسي يعني اطلاعك وقبولك الضمني لأي تعديل تم على بنود وشروط الاستخدام. علماً بأن الجامعة غير مطالبة بالإعلان عن التحديثات التي تتم على الشروط والبنود. </p>
    </div>


    <div>
      <br>
      <h5>قيود الاستخدام</h5>

 
      <p>استخدامك لموقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية يعد إقرار ضمني بالالتزام بالنقاط التالية:</p>
      <ol>
       <li>النشر من خلال الموقع يكون لخدمة أغراض الجامعة الأكاديمية والعلمية فقط.</li>
       <li>عدم نشر ما يعارض فلسفة جامعة الإمام محمد بن سعود الإسلامية في الحوار والتعبير عن الرأي.</li>
       <li>عدم التعرض للأشخاص أو الجهات أو المؤسسات بالطعن أو الانتقاص أو السب أو التشهير.</li>
       <li>عدم نشر أو اقتباس أي محتوى (برمجيات أو مواد أو بيانات أو معلومات أخرى) محمي بحقوق نشر أو لا تملك ترخيصاً له إلا بعد الموافقة من المصدر.</li>
       <li>الامتناع عن المدح أو الإشادة أو الترويج أو التصويب أو الدعم لكل فكر منحرف ورموزه.</li>
       <li>الامتناع عن نشر أو إعلان أو توزيع أو تعميم أو مشاركة أي محتوى أو معلومات أو روابط مخالفة للشرع، أو يقصد بها الإضرار بالأمن الوطني أو تحتوي انتهاكاً للأنظمة من أي نوع، أو مواد إباحية، أو بذيئة، أو مخالفة للآداب العامة، أو أي مواد أو معلومات غير قانونية.</li>
       <li>الامتناع عن نشر جميع أنواع المحتوى والتعليقات التي تؤجج الطائفية، والعنصرية، والقبلية، والمناطقة بجميع أشكالها وصورها.</li>
       <li>الالتزام بالنشر باللغة العربية الفصحى، وتجنب الركاكة والضعف والأخطاء الإملائية والنحوية قدر الإمكان مع التأكد من كتابة الآيات القرآنية كتابة صحيحة مع ذكر رقم الآية واسم السورة.</li>
       <li>إدارة الموقع غير ملزمة بنشر أي موضوع أو التقيد بزمن محدد للنشر أو إعادة النشر.</li>
       <li>الآراء الواردة في الموضوعات المنشورة، تمثل وجهة نظر أصحابها، ولا تعرب بالضرورة عن وجهة نظر الجامعة.</li>
       <li>لا يجوز استخدام أي أسماء أو شعارات موجودة في الموقع دون إذن مسبق.</li>
       <li>لا يجوز نقل أو نسخ أي من محتويات الموقع دون إذن مسبق.</li>
       <li>الامتناع عن الاشتراك من خلال الموقع وخدماته في أنشطة غير مشروعة أو غير نظامية في المملكة العربية السعودية.</li>
       <li>الامتناع عن استخدام أي وسيلة أو برنامج أو إجراء لاعتراض أو محاولة اعتراض التشغيل الصحيح للموقع.</li>
       <li>الامتناع عن القيام بأي إجراء يفرض حملاً كبيراً على البنية التحتية للموقع.</li>
      </ol>
    </div>
    <div>
      <br>
      <h5>الروابط من وإلى موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية</h5>
      <ol>
        <li> يُمنع وضع أية روابط إلكترونية خاصة بموقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية ضمن أي موقع آخر وفي أي إطار بشكل يخالف الشروط والأحكام.</li>
        <li>لا تعتبر الجامعة مسؤولة - بأي حال من الأحوال- عن المحتوى أو العلامات التجارية أو الشعارات أو الرموز بكل أشكالها، أو أية وسائل أخرى مستخدمة أو تظهر على المواقع المرتبطة بهذا الموقع أو أي من محتوياته.</li>
        <li>تحتفظ الجامعة بكامل حقوقها في إيقاف وإعاقة أي ارتباط من أي موقع يحتوي على ما يخالف سياسات الجامعة أو يخالف قانونا أو ينتهك حقوق الملكية الفكرية أو حقوق الخصوصية أو حقوق العلنية.</li>
        <li>موقع المستودع الرقمي لجامعة الإمام محمد بن سعود الإسلامية غير مسؤول عن المحتويات المتاحة في أي موقع آخر يتم الوصول إليه عبر هذا الموقع، أو الوصول منه لهذا الموقع.</li>
      </ol>


    </div>

    <div>
      <br>
      <h5>حقوق الملكية</h5>
<ol>
  <li>يدار موقع المستودع الرقمي لجامعة الإمام محمد بن سعود الإسلامية من قبل الإدارة العامة لشؤون المكتبات بشكل مباشر، بما في ذلك جميع المعلومات والمواد الواردة فيه، وتعد جميع محتويات الموقع محمية بالكامل طبقاً لوثيقة سياسة الملكية الفكرية بجامعة الامام محمد بن سعود المعتمدة من قبل مجلس التعلم العالي والجامعات بقرار رقم 37 - 6 - 1443 هـ وذلك استنادا الى الفقرة (11) من المادة (20) من نظام مجلس التعليم العالي والجامعات.</li>
  <li>جميع حقوق الملكية الفكرية لمحتويات موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية تعد ملكاً لجامعة الإمام محمد بن سعود الإسلامية باستثناء ما يُنص على خلاف ذلك. </li>
  <li>لا يجوز بيع أو ترخيص أو تأجير أو تعديل أو نسخ أو استنساخ أو إعادة طبع أو تحميل أو الإعلان عن أو نقل أو توزيع أو العرض بصورة علنية أو تحرير أو إنشاء أعمال مشتقة من أي مواد أو محتويات من موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية للجمهور أو لأغراض تجارية، دون الحصول على الموافقة الخطية المسبقة من الجامعة.</li>
  <li>يُمنع منعاً باتاً أي تعديل لمحتويات موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية دون الحصول على الإذن، ويتم تحمل مسؤولية ذلك التعديل.</li>
  <li>لا يجوز استنساخ أو استغلال الرسومات والصور المنشورة في هذا الموقع بأية طريقة كانت، دون موافقة خطية مسبقة من إدارة الموقع.</li>
</ol>
    </div>

    <div>
      <br>
      <h5>حدود المسؤولية</h5>

      <ol>

        <li>استخدام موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية يكون على مسؤوليتك الخاصة، والجامعة وإدارتها لا تتحمل بأي شكل من الأشكال أي ضرر أو خسائر تنتج عن استخدام الموقع أو التعامل معه بشكل مباشر أو غير مباشر.  </li>
        <li>تحرص إدارة الموقع على فحص واختبار محتوياتها في كل مراحل الإنتاج، ومع ذلك فإن حماية جهازك وبياناتك هي مسؤوليتك بشكل كامل ونحن لا نُعتبر مسؤولين عن أية خسارة أو انقطاع أو تلف لبياناتك أو جهاز الحاسب أو أي جهاز يستخدم للتصفح لديك، والذي قد يحدث أثناء الاتصال بهذا الموقع أو عند استخدام أي محتوى منها.</li>
        <li>لا تقدم الجامعة أي ضمان صريح أو ضمني، بخصوص عدم وجود عيوب في المواد الواردة في الموقع أو بخصوص تقديم هذه المواد دون انقطاع أو بلا أخطاء.</li>
      </ol>

    </div>

    <div>
      <br>
      <h5>إنهاء الاستخدام</h5>
      
    <p>
      تحتفظ جامعة الإمام محمد بن سعود الإسلامية بكافة الحقوق في منع أو تقييد دخول أي شخص إلى موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية دون إشعار ولأي سبب كان، بما في ذلك مخالفة شروط وبنود الاستخدام أو أي سلوك آخر قد نعتبره - حسب تقديرنا الخاص- مخالفا لسياسات الجامعة أو مضرًا بالآخرين. 
    </p>
    </div>

    <div>
      <br>
      <h5> سياسة الخصوصية</h5>
    <p>تقدم هذه السياسة توضيحاً لحقوق وواجبات موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية ومستخدميه، وعليه تلتزم جامعة الإمام محمد بن سعود الإسلامية بحماية شخصيتك وضمان خصوصيتك، وتبين سياستنا هذه ممارستنا في التعامل مع معلوماتك الشخصية فيما يتعلق بالبيانات سواء كانت على الإنترنت أو على أجهزة الكمبيوتر فقط، وفي حال إعطائك لنا أي معلومات شخصية، سوف نتعامل معها طبقاً لهذه السياسة. </p>
    </div>

    <div>
      <br>

      <h5>جمع واستخدام المعلومات الإلكترونية</h5>
      <p>يتوقف نوع المعلومات التي تتلقاها جامعة الإمام محمد بن سعود الإسلامية ومقدارها على كيفية استعمال المستخدم لموقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية ، ويمكن للمستخدم الدخول إلى معظم صفحات الموقع دون الإفصاح عن هويته ودون الكشف عن أية معلومات شخصية، ولا تجمع جامعة الإمام محمد بن سعود الإسلامية عن طريق موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية أية معلومات يمكن التعرف من خلالها على شخصية المستخدم، مثل: (الاسم أو العنوان أو رقم الهاتف أو عنوان البريد الإلكتروني)، إلا إذا قرر المستخدم تقديم إحدى هذه المعلومات - وذلك على سبيل المثال- عند طلب خدمة أو نحوه، وإذا طلب مثل تلك المعلومات الشخصية فإننا سنقوم بتوضيح الغرض منها حينما نطلبها.  </p>
    <p>ستظل البيانات الشخصية التي يقدمها المستخدم عبر موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية سرية، ويقتصر تخزينها بصورة آمنة على المدة اللازمة للغرض الذي قُّدمت من أجله فقط، ولن يتم تقديم المعلومات التي يقدمها المستخدم إلى الغير إلا بموجب إذن من المستخدم.</p>
    </div>

    <div>
      <br>
      <h5>أمن المعلومات</h5>
     <p>نحن نضمن بأن هذا الموقع يطبق أعلى إجراءات الأمن لحماية المعلومات التي تقدمها له، كما أن الموقع يعمل على تشفير المعلومات التي تعتبر حساسة أو البيانات التي يتعين الحفاظ على سريتها توافقاً مع المتطلبات القانونية.</p>
    </div>

    <div>
      <br>
      <h5> ملفات تعريف الارتباط (Cookies)</h5>
    <p>قد يقوم الموقع بتخزين ما يسمى بملفات تعريف الارتباط Cookies على الكمبيوتر الخاص بك عندما تزور الموقع، وتستخدم هذه الملفات لعدة أغراض فنية فقط، كالتعرف عليك عند زيارتك للموقع مرة أخرى، ومتابعة دورتك الحالية في الموقع وتنقلك بين صفحاته، وليس من أهدافنا استخدامها لأي أغراض أخرى ما لم يتوفر طلب قانوي ورسمي بذلك.</p>
    <p>ويمكنك في أي وقت إعادة إعداد المتصفح الخاص بك لرفض كافة ملفات تعريف الارتباط أو سؤالك قبل قبول أي ملف تعريف ارتباط؛ إلا أنه من الممكن أن تفقد نتيجة ذلك بعض مزايا الموقع أو خدماته.</p>
    </div>

    <div>
      <br>
      <h5>المواقع الأخرى</h5>
     <p>يحتوي موقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية على العديد من الروابط التي يمكن أن تنقلك إلى مواقع أخرى غير تابعة للجامعة وليست ضمن المجال (imamu.edu.sa)، وهذه المواقع لا تعمل وفقاً لسياسة الخصوصية المتبعة في موقع جامعة الإمام محمد بن سعود الإسلامية لذا ننصح الزائر الكريم بمراجعة سياسة الخصوصية الخاصة بتلك المواقع قبل الكشف عن أي معلومات شخصية تدل على صاحبها.</p>
     <p>- التغييرات التي قد تطرأ على سياسة الخصوصية.</p>
     <p>تحتفظ الجامعة بالحق في تحديث سياسة الخصوصية في أي وقت ودون إشعار مسبق، ولمعرفة آخر تحديث أُجري عليها؛ فإنه يجب على المستخدم مراجعة تاريخ التحديث أسفل هذه الصفحة.</p>
    </div>



    <div>
      <br>
      <h5>الموافقة على سياسة الخصوصية</h5>
<p>استخدامك لموقع المستودع الرقمي المؤسسي لجامعة الإمام محمد بن سعود الإسلامية يعني موافقتك على سياسة الخصوصية، والضوابط والشروط التي تحكمها، فإذا لم تكن موافقاً على هذه السياسة فإنه يجب عليك عدم استخدام أية خدمة من الخدمات المقدمة من خلال هذا الموقع.</p>
    </div>



    </div>















</ng-template>

